.admin-navbar {
    height: 80px;

    background: white;

    border-bottom: 1px solid #e5e7eb;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;
}

.navbar-left h4 {
    margin: 0;
    color: #1f2937;
}

.icon-btn {
    width: 42px;
    height: 42px;

    border: none;
    border-radius: 12px;

    background: #f3f4f6;

    position: relative;

    cursor: pointer;
}

.icon-btn:hover {
    background: #e5e7eb;
}

.badge {
    position: absolute;

    top: -5px;
    right: -5px;

    width: 18px;
    height: 18px;

    border-radius: 50%;

    background: red;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-avatar {
    width: 42px;
    height: 42px;

    border-radius: 50%;

    background: #2563eb;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
}

.user-info strong {
    display: block;
}

.user-info small {
    color: #6b7280;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logout-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background: #ef4444;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.logout-btn:hover {
    background: #dc2626;
}